@tailwind base;
@tailwind components;
@tailwind utilities;
import Actonia from './assets/fonts/A/ActoniaPERSONAL.ttf';

.imgabout {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: normal;
    align-items: normal;
    align-content: normal;
  }

